<ul>
  <li ng-repeat="item in list | filter: {name: search} | filter: {time: activeTime} | filter: {location: activeLocation}">
    <img ng-src="img/{{item.image}}" alt="Image of {{item.name}}" ng-if="item.image" />
    <ul class="item-description">
      <li ng-if="item.name"><b>Name:</b> {{item.name}}</li>
      <li ng-if="item.email"><b>Email:</b> {{item.email}}</li>
      <li ng-if="item.age"><b>Age:</b> {{item.age}}</li>
      <li ng-if="item.specialty"><b>Specialty:</b> {{item.specialty}}</li>
      <li ng-if="item.bio"><b>Bio:</b> {{item.bio}}</li>
      <li ng-if="item.kills"><b>Kills:</b> {{item.kills}}</li>
      <li ng-if="item.time"><b>Time:</b> {{item.time}}</li>
      <li ng-if="item.location"><b>Location:</b> {{item.location}}</li>
    </ul>
  </li>
</ul>