<header>
  <a id="logo" href="#/company">
    <h1>Darkside</h1>
    <h2>Mercenaries | Contractors</h2>
  </a>
  <nav>
    <ul>
      <li><a ng-class="{ selected : checkSelected(1)} " ng-click="selectTab(1)" href="#/company">Company</a></li>
      <li><a ng-class="{ selected : checkSelected(2)} " ng-click="selectTab(2)" href="#/recruits">Recruits</a></li>
      <li><a ng-class="{ selected : checkSelected(3)} " ng-click="selectTab(3)" href="#/missions">Missions</a></li>
    </ul>
  </nav>
</header>