
/********************************************************
GLOBAL
*********************************************************/

body {
  font-family: 'Oxygen', sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: 'Fjalla One', sans-serif;
}

#wrapper {
  max-width: 1024px;
  margin: 30px auto 0;
  padding: 0 5%;
}

ul {
  list-style: none;
  padding-left: 0;
}

/********************************************************
HEADER
*********************************************************/

header {
  padding-top: 5px;
  text-align: center;
}

header #logo {
  width: 200px;
}

header h1 {
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 2px;
}

header h2 {
  font-size: 0.75em;
  font-weight: normal;
  margin-top: -5px;
}



/********************************************************
NAVIGATION
*********************************************************/

nav ul {
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 0 0 5px;
  margin: 0 0 0 -4px;
}

nav a {
  padding: 0 10px 5px;
}



/********************************************************
FOOTER
*********************************************************/

footer {
  text-align: center;
  font-size: 0.75em;
  color: #bbb;
  padding-top: 50px;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 3px;
}



/********************************************************
PAGE: COMPANY
*********************************************************/

#page-company h3 {
  font-size: 1.5em;
  padding: 0 0 0 10px;
  margin-bottom: 0;
  border-left: 1px #888 solid;
}

#page-company section {
  margin-bottom: 40px;
}

#page-company-foreword img {
  display: block;
  margin: 0 auto;
  width: 140px;
  height: 140px;
  border-radius: 100%;
}

#page-company a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

li.phone a {
  background: url('../img/phone.png');
}

li.mail a {
  background: url('../img/mail.png');
}

li.twitter a {
  background: url('../img/twitter.png');
}

#page-company-members li {
  background: #333;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

#page-company-members img {
  display: block;
  margin: 0 auto;
  width: 140px;
  height: 140px;
  border-radius: 100%;
}

#page-company-members li li {
  padding-top: 0;
  padding-bottom: 0;
}



/********************************************************
PAGE: MISSIONS
*********************************************************/

#page-missions h3 {
  font-size: 1.5em;
  padding: 0 0 0 10px;
  margin-bottom: 0;
  border-left: 1px #888 solid;
}

#page-missions section {
  margin-bottom: 40px;
}

#mission-search {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #ddd;
  width: 100%;
  -webkit-transition: border-bottom 1s;
  -moz-transition: border-bottom 1s;
  -ms-transition: border-bottom 1s;
  -o-transition: border-bottom 1s;
  transition: border-bottom 1s;
}

#mission-search:hover {
  border-bottom: solid 1px #000;
}

#page-missions-categories div {
  text-align: center;
}

#page-missions-categories li {
  display: inline-block;
  padding: 0 15px;
  border-right: solid 1px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#page-missions-categories li:last-child {
  border-right: none;
}

#page-missions-categories li:hover {
  color: white;
  background-color: black;
}

.activeTime {
  background-color: tomato;
}



/********************************************************
COLORS
*********************************************************/

body {
  background-color: #fff;
  color: #999;
}

a {
  color: #5f9ea0;
}

header {
  color: #fff;
  background: #000;
}

header a {
  color: #fff;
}

h3 {
  color: #555;
}

header #logo {
  color: #fff;
  transition: color 1s;
}

header #logo:hover {
  color: darkcyan;
}

nav a:hover {
  color: #000;
  background-color: #fff;
}

nav a.selected {
  color: #000;
  background-color: #fff;
}