@media screen and (min-width: 540px) {

  /********************************************************
  PAGE: RECRUITS
  *********************************************************/

  #page-recruits #generic-list .generic-list-item {
    float: left;
    width: 50%;
    display: inline-block;
  }

  #page-recruits #generic-list .generic-list-item:nth-child(3) {
    clear: left;
  }

}



@media screen and (min-width: 700px) {

  /********************************************************
  PAGE: MISSIONS
  *********************************************************/
  #page-missions #generic-list .generic-list-item {
    float: left;
    width: 50%;
    display: inline-block;
  }

  #page-missions #generic-list .generic-list-item:nth-child(3) {
    clear: left;
  }

}



@media screen and (min-width: 850px) {

  /********************************************************
  PAGE: COMPANY
  *********************************************************/

  #page-company-members #generic-list .generic-list-item {
    float: left;
    width: 40%;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }

  #page-company-members #generic-list .generic-list-item:nth-child(3) {
    clear: left;
  }

  /********************************************************
  PAGE: RECRUITS
  *********************************************************/

  #page-recruits #generic-list .generic-list-item {
    width: 33%;
  }

  #page-recruits #generic-list .generic-list-item:nth-child(3) {
    clear: none;
  }

  #page-recruits #generic-list .generic-list-item:nth-child(4) {
    clear: left;
  }

}



@media screen and (min-width: 1000px) {

  /********************************************************
  PAGE: MISSIONS
  *********************************************************/
  #page-missions #generic-list .generic-list-item {
    width: 33%;
  }

  #page-missions #generic-list .generic-list-item:nth-child(3) {
    clear: none;
  }

  #page-missions #generic-list .generic-list-item:nth-child(4) {
    clear: left;
  }

}



@media screen and (min-width: 1000px) {

  /********************************************************
  PAGE: COMPANY
  *********************************************************/

  #page-company-members #generic-list .generic-list-item {
    float: left;
    width: 28%;
  }

  #page-company-members #generic-list .generic-list-item:nth-child(3) {
    clear: none;
  }

  #page-company-members #generic-list .generic-list-item:nth-child(4) {
    clear: left;
  }

}