<div id="page-company">

  <section id="page-company-foreword">
    <h3>Our credo</h3>
    <div>
      <img src="img/PlanescapeTorment_O.jpg" alt="Company Logo">
      <p>More than 400 years of wars, skirmishes and secret missions.</p>
      <p>We have no morals and no remorse, there are simply no limits.
        We cost a fortune, but we are well worth every penny.</p>
    </div>
  </section>

  <section id="page-company-contacts">
    <h3>Contacts</h3>
    <div>
      <p>You can contact us any time of the day, our office takes calls 24/7. If you prefer to write an email, be sure
      that we'll answer you right away. And please do drop into our office if you are nearby, here you can check out our
      portfolio, meet our people, discuss your problems and of course have some coffee with cookies.</p>
      <ul id="page-company-contacts-list">
        <li class="phone"><a href="tel:555-5555">555-5555</a></li>
        <li class="mail"><a href="mailto:darkside@example.com">darkside@example.com</a></li>
        <li class="twitter"><a href="http://twitter.com/intent/tweet?screen_name=darkside">@darkside</a></li>
      </ul>
    </div>
  </section>

  <section id="page-company-members">
    <h3>Our team</h3>
    <ul>
      <li ng-repeat="item in team">
        <img ng-src="img/{{item.image}}" alt="Image of {{item.name}}" />
        <ul class="item-description">
          <li><b>Name:</b> {{item.name}}</li>
          <li><b>Email:</b> {{item.email}}</li>
          <li><b>Age:</b> {{item.age}}</li>
          <li><b>Specialty:</b> {{item.specialty}}</li>
          <li><b>Bio:</b> {{item.bio}}</li>
          <li><b>Kills:</b> {{item.kills}}</li>
        </ul>
      </li>
    </ul>
  </section>

</div>
