<div id="page-missions">

  <section id="page-missions-foreword">
    <h3>Our missions</h3>
    <p>Our dear visitor, below you can see a list of some of our most prominent missions. Some of the most notorious ones are not included for the
      reasons of confidentiality, other happened too long ago and are lost in the murky depths of history.</p>
    <p>You can sort through the missions by time period and mission type.</p>
  </section>

  <section id="page-missions-categories">
    <label for="mission-search">Look up by name:</label>
    <input id="mission-search" type="search" ng-model="search.input">
    <div>
      <category-sort time="time" active-time="activeTime"></category-sort>
      <category-sort locations="locations" active-location="activeLocation"></category-sort>
    </div>
  </section>

  <generic-list list="missions" search="search.input" active-time="activeTime" active-location="activeLocation"></generic-list>

</div>