<div id="page-recruits">

  <section id="page-recruits-foreword">
    <h3>Welcome recruit</h3>
    <p>For all of you looking for a true challenge in life we offer this golder opportunity! Join us and you will witness such wonders and terrible
    truths as no one before you. Join us and you will face the toughest challenges! Join us and you fight shoulder to shoulder with true legends!
    Join us and you will become a legend yourself!</p>
  </section>

  <section id="page-recruits-regform">
    <h3>Send your details</h3>
    <p>Press the button below and enter your details, we will contact you in due time:</p>
    <input type="button"/>
  </section>

  <section>
    <h3>Our candidates</h3>
  </section>

</div>